
.parent{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 50px;
  background-color: lightblue;
  margin: 20px;
}
.square{
  
  height: 300px;
  background-color: lightslategray;
  border-radius: 10px;
  column-gap: 20px;
}
.card{
  height: 400px;
  background-color: white;
}

