
.parent{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 50px;
  background-color: lightblue;
  margin: 20px;
}
.square{
  
  height: 300px;
  
  border-radius: 10px;
  column-gap: 20px;
}
.card{
  height: 400px;
  background-color: white;
  border-radius: 40px;
}
.top{
  height: 100px;
  width: 300px;
  
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_left{
  height: 100px;
  width: 100px;
  
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_right{
  height: 100px;
  width: 200px;
  
  border-radius: 40px;
  display: flex;
  justify-content: right;
  align-items: center;

}
.mid_section{
  width: 300px;
  height: 200px;
  
  
}
.inside_mid{
  width: 300px;
  height: 100px;
  
  position: relative;
}
.bottom{
  width: 300px;
  height: 100px;
  background-color: lightgrey;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.amazonimg{
  width: 80px;
}
.save{
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}
.p{
  line-height: 0px;
  position: absolute;
  font-size: 22px;
  margin-left: 20px;
  font-family: arial;
  font-weight: bold;
  color: rgb(53, 53, 53);
  
}
.p2{
  line-height: 70px;
  position: absolute;
  margin-left: 20px;
  font-family: arial;


}
.span{
  font-size: 15px;
  color: gray;
  font-weight: lighter;
}
.tag{
  position: absolute;
  display: flex;
  align-items:  center;
  justify-content: space-between;
  margin-top: 75px;
  width: 200px;
  margin-left: 20px;
  font-family: Arial;
  font-weight: lighter;
  
}
.tag_h{
  line-height: 0px;
  font-size: 13px;
}
.tag_div{
  background-color: rgb(226, 225, 225);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.bottom_div{
  background-color: lightcoral;
  width: 270px;
  height: 80px;
}




